<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.peercast.core">

    <application
        android:name=".PeerCastApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher_v4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_v4_round"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
         <!-- 30より要android:allowNativeHeapPointerTagging="false" -->

        <activity android:name=".PeerCastServiceActivity"
            android:exported="true"
            android:label="@string/starting_peercast"/>

        <service
            android:name=".PeerCastService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.peercast.core.PeerCastService" />
            </intent-filter>
        </service>

    </application>

</manifest>