<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.peercast.core.ui">

    <application>
        <activity
            android:name=".PeerCastActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@mipmap/ic_launcher_v4"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_v4_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>