<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.peercast.core">

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PeerCastApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".PeerCastActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tv.PeerCastTvActivity"
            android:banner="@drawable/app_peercast_tv"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:theme="@style/Theme.Leanback"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tv.DetailsActivity" android:theme="@style/Theme.Leanback" />
        <activity android:name=".tv.PlaybackActivity" android:theme="@style/Theme.Leanback"/>
        <activity android:name=".tv.BrowseErrorActivity" android:theme="@style/Theme.Leanback"/>

        <service
            android:name=".PeerCastService"
            android:exported="true"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="org.peercast.core.PeerCastService" />
            </intent-filter>
        </service>
    </application>
</manifest>